body {
    font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
    line-height: 21px;

    margin: 0px;
    padding: 0px;
}

header, nav, footer {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

header{
    align-items: center;
}

header, section {
    margin: 45px 0px;
}

.page-title {
    font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 900;
	font-size: 35px;
	line-height: 47px;

	letter-spacing: 1px;
}

.nav-title {
	font-size: 15px;
	line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    margin-left: 1.5em;
}

header .nav-title:hover a,
footer .nav-title:hover a,
.reviews .col:hover h3{
    color: #ff7931;
}

.gallery {
    background: darkblue;
    color: white;
    background-image: url('img/Mask\ Group.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 464px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery-icon {
    width: 55px;
    height: 55px;
    background-color: #ff7931;
    border-radius: 50%;
}

.gallery-icon img {
    margin: 25%;
}

.gallery-title {
    font-size: 72px;
	line-height: 84px;
	letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.gallery-text {
    width: 456px;
}

.reviews {
    text-align: center;

    margin-bottom: 0px;
}

.reviews-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.reviews .col {
    width: 370px;
    margin-left: 20px;

    text-align: left;
}

.reviews-title {
    font-family: 'Playfair Display', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 23px;
	line-height: 31px;
}

.reviews .col img {
    width: 370px;
}

.info {
    background-color: #f7f7f7;
    height: 556px;
    overflow-y: hidden;
}

.info-circle {
    width: 707px;
    height: 707px;
    background-color: white;
    border-radius: 50%;
    transform: translateY(-50px);
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.info-col {
    width: 707px;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.info-subsection {
    width: 370px;
}

.info-title {
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase   ;
}

.info-subsection-title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 23px;
    line-height: 31px;
    text-align: center;
}

.info-subsection-text {
    font-size: 14px;
    line-height: 150%;
    text-align: center;
}

.info-subsection hr {
    width: 100px;
    opacity: 0.2;
}

.info-button {
    display: block;
    border: none;
    width: 170px;
    height: 47px;
    background-color: #ff7931;
    color: white;

    margin-bottom: 50px;
}

.info-button span {
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;

    display: inline;
}

.info-button img {
    display: inline;
}

.info-button img,
.info-button span {
    vertical-align: middle;
    text-align: center;
}

footer {
    background: #575757;
    color: white;
}

footer .nav-title a{
    color: white;
}


.footer-title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 37px;
    letter-spacing: 1px;
    align-self: center;
}

footer hr {
    width: 80%;
    color: white;
    opacity: 0.5;
    margin: 30px auto;
}

.socials {
    display: flex;
    flex-direction: row;
    margin: 0px auto 30px auto;
}

.social-icon {
    width: 47px;
    height: 47px;
    background-color: white;
    margin-left: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.in-icon {
	background-image: url('img/instagram_icon.svg');
}

.fb-icon {
	background-image: url('img/facebook_icon.svg');
}

.tw-icon {
	background-image: url('img/twitter_icon.svg');
}